# Ignore node_modules and unnecessary files
node_modules/
.cache/
dist/
*.pack
*.log

# Secrets
.env
scorecard_frontend/.env

# Node
node_modules/

# Python
__pycache__/
*.pyc
venv/

# IDE
.vs/
.vscode/

# Build output
build/

# Vercel
.vercel/